body {
    color: #000000;
    background-color: #e0f7ff;
    margin: 0px;
    text-align: center;
}

#container {
    position: relative;
    margin: auto;
    width: 1200px;
    height: auto;
    overflow: hidden;
    border: 2px solid #007acc;
}

header, nav, main, footer {
    display: block;
    width: 1200px;
}

header {
    height: 150px;
    background-color: #99ccff;
    position: relative;
}

#logo {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 200px;
    height: 100px;
    border: 3px dotted #005f99;
}

#logo img {
    max-height: 100px;
}

nav {
    height: 70px;
    background-color: #80bfff;
}

main {
    height: auto;
    overflow: hidden;
    background-color: #cce6ff;
}

#col-left {
    background-color: #66b2ff;
    width: 300px;
    height: 320px;
    float: left;
}

#col-center {
    background-color: #b3d9ff;
    width: 900px;
    height: 320px;
    float: left;
	
}

footer {
    height: 70px;
    background-color: #99c2ff;
    clear: both;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #007acc;
}

tbody tr:nth-child(even) {
    background-color: #99ccff;
}

tbody tr:nth-child(odd) {
    background-color: #cce6ff;
}

td, th {
    border: 2px solid #005f99;
    padding: 15px;
    text-align: left;
    font-size: 18px;
}
os
{
	height:10px;
}
